<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1"
/>
<title>John DeWyze - {{ page.title }}</title>
<link rel="shortcut icon" type="image/png" href="/favicon.png" />
<link
  href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:wght@400;800&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
<script
  src="https://kit.fontawesome.com/4acc2baf54.js"
  crossorigin="anonymous"
></script>
