---
---

@import "variables";
@import "type";
@import "nav";
@import "page";

ul {
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-areas: "nav page";
  grid-template-columns: 270px 1fr;
  max-width: 960px;
  margin: 40px auto 20px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "page";
  }
}
