---
---

@import "variables";
@import "type";
@import "nav";
@import "page";
@import "blog";
@import "portfolio";

html {
  text-rendering: optimizelegibility;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: $blue;
}

ul {
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-areas: "nav page";
  grid-template-columns: 270px 1fr;
  max-width: 1024px;
  margin: 40px auto 20px;
}

.wrapper--blog {
  max-width: 720px;
  margin: 0 auto 20px;
  padding: 0.5rem 1.5rem;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "page";
  }
}
