---
layout: default
---

<div class="page__blog">
  {% for post in site.posts %}
  <article class="page__blog_listing">
    <div class="listing__meta">
      <div class="listing__meta_date">
        {{ post.date | date: "%Y-%m-%d" }}
      </div>
      {% if post.tags %}
      <div class="listing__meta_tags">
        {% for tag in post.tags %}
        <span class="listing__tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <a href="{{ post.url }}"
      ><h3 class="text--blue text__blue_sideline">
        {{ post.title }}
      </h3></a
    >
    <div class="page__blog_excerpt">
      {{ post.excerpt }}
    </div>
  </article>
  {% endfor %}
</div>
