---
layout: blog
---

<div class="blog listings">
  {% for post in site.posts %}
  <article class="blog__listing">
    <div class="listing__meta">
      <div class="listing__date">
        {{ post.date | date: "%Y-%m-%d" }}
      </div>
      {% if post.tags %}
      <div class="listing__tags">
        {% for tag in post.tags %}
        <span class="listing__tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <a href="{{ post.url }}"
      ><h3 class="blue_sideline">
        {{ post.title }}
      </h3></a
    >
    <div>
      {{ post.excerpt }}
    </div>
  </article>
  {% endfor %}
</div>
