.blog {
  margin: 3rem auto;
  font-size: 1rem;
  font-family: $type-serif-family;
  line-height: 1.65;
  text-align: justify;
  ul {
    margin-left: 2rem;
    margin-right: 2rem;
    li {
      margin: 1rem 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .text--blue;
    line-height: 1.1;
    position: relative;

    &:hover {
      .anchor--link {
        display: block;
      }
    }
  }

  h2:not(:first-child) {
    margin-top: 2rem;
  }

  p {
    margin: 1.5rem 0;
  }

  a {
    &:not(.link--image) {
      font-weight: bold;
      @extend .blue_underline--hover;
      @extend .blue_underline--small;
      @extend .blue_underline--close;
    }
  }

  a.anchor--link {
    font-size: 0.75rem;
    display: none;
    position: absolute;
    padding: 0.25rem;
    right: 100%;
    top: 25%;
    cursor: pointer;

    &:hover {
      display: block;
    }
  }

  a.link--image {
    display: block;
    position: relative;
    box-sizing: border-box;
    border: solid 5px transparent;

    &::before {
      position: absolute;
      content: "";
      background-color: $blue;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: all 0.2s ease-in-out 0s;
      transform-origin: 50% 50%;
    }

    &:hover::before {
      top: -5px;
      left: -5px;
      bottom: -5px;
      right: -5px;
      transform-origin: 50% 50%;
    }
  }

  li:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  blockquote {
    border-left: 4px solid #ccc;

    font-size: 1.5rem;
    padding: 0.001rem 2rem;

    .blockquote__author {
      font-size: 1rem;
      text-align: right;
    }
  }

  pre {
    overflow-x: auto;
  }

  pre.highlight {
    line-height: 1.25;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.blog--post,
.blog-article {
  margin-bottom: 6rem;
  p > a {
    display: inline-block;
  }
}

.listing__title {
  margin-top: 0.5rem;
}

.listing__meta {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.listing__date {
  color: $gray;
  text-align: left;
  font-family: $type-header-family;
  font-style: italic;
  font-weight: 600;
}

.listing__tags {
  margin-left: auto;

  @media (max-width: 767px) {
    margin: 0.75rem 0;
  }
}

.listing__tag {
  font-family: $type-header-family;
  font-weight: bold;
  color: $blue;
  letter-spacing: 1;
  box-sizing: border-box;
  background-color: $light-gray;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  border-radius: 25px;
  vertical-align: text-top;
}

._light_blue_underline {
  &::after {
    display: block;
    content: "";
    background-color: $blue;
    opacity: 0.3;
    margin: 2rem;
    height: 3px;
  }
}

.blog__title--underline {
  @extend ._light_blue_underline;
}

.listing:not(:last-child) {
  @extend ._light_blue_underline;
}

.blog__scroll_to_top {
  margin: 3rem auto;
  text-align: center;
}
