.blog {
  margin: 3rem auto;
  font-size: 1rem;
  font-family: $type-serif-family;
  line-height: 1.65;
  text-align: justify;
  ul {
    margin-left: 2rem;
    margin-right: 2rem;
    li {
      margin: 1rem 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .text--blue;
    line-height: 1.1;
    position: relative;

    &:hover {
      .anchor--link {
        display: block;
      }
    }
  }

  a {
    font-weight: bold;
    @extend .blue_underline--hover;
    @extend .blue_underline--small;

    &.anchor--link {
      font-size: 0.75rem;
      display: none;
      position: absolute;
      padding: 0.25rem;
      right: 100%;
      top: 25%;
      cursor: pointer;

      &:hover {
        display: block;
      }
    }
  }

  li:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  blockquote {
    border-left: 4px solid #ccc;

    font-size: 1.5rem;
    padding: 0.001rem 2rem;

    .blockquote__author {
      font-size: 1rem;
      text-align: right;
    }
  }

  pre.highlight {
    line-height: 1.25;
  }
}

.blog--post,
.blog-article {
  margin-bottom: 6rem;
}

.listing__meta {
  display: flex;
  align-items: center;
}

.listing__date {
  color: $gray;
  text-align: left;
  font-family: $type-header-family;
  font-style: italic;
  font-weight: 600;
}

.listing__tags {
  margin-left: auto;
}

.listing__tag {
  font-family: $type-header-family;
  font-weight: bold;
  color: $blue;
  letter-spacing: 1;
  box-sizing: border-box;
  background-color: $light-gray;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  border-radius: 25px;
}

._light_blue_underline {
  &::after {
    display: block;
    content: "";
    background-color: $blue;
    opacity: 0.3;
    margin: 2rem;
    height: 3px;
  }
}

.blog__title--underline {
  @extend ._light_blue_underline;
}

.listing:not(:last-child) {
  @extend ._light_blue_underline;
}

.blog__scroll_to_top {
  margin: 3rem auto;
  text-align: center;
}
