.blog {
  margin: 3rem auto;
  font-size: 1rem;
  font-family: $type-serif-family;
  line-height: 1.65;
  text-align: justify;
  ul {
    margin-left: 2rem;
    margin-right: 2rem;
    li {
      margin: 1rem 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .text--blue;
    line-height: 1.1;
  }
}

.blog--post {
  margin-bottom: 6rem;
}

.listing__meta {
  display: flex;
  align-items: center;
}

.listing__date {
  color: $gray;
  text-align: left;
  font-family: $type-header-family;
  font-style: italic;
  font-weight: 600;
}

.listing__tags {
  margin-left: auto;
}

.listing__tag {
  font-family: $type-header-family;
  font-weight: bold;
  color: $blue;
  letter-spacing: 1;
  box-sizing: border-box;
  background-color: $light-gray;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  border-radius: 25px;
}

._light_blue_underline {
  &::after {
    display: block;
    content: "";
    background-color: $blue;
    opacity: 0.3;
    margin: 2rem;
    height: 3px;
  }
}

.blog__title {
  @extend ._light_blue_underline;
}

.blog__listing:not(:last-child) {
  @extend ._light_blue_underline;
}
