nav {
  grid-area: nav;
  height: 100%;
  color: $blue;
  padding: 8px;
}

.nav__logo {
  width: 150px;
  margin: 0 auto;
  fill: $blue;
  display: block;
}

.nav--top {
  padding: 0px;
  margin-top: 1rem;
  height: 30px;
  width: 100%;
  display: flex;
  box-sizing: border-box;

  .nav__logo {
    fill: $blue;
    height: 1.875rem;
    width: unset;
    margin-right: 1rem;
  }
}

.nav__menu {
  list-style-type: none;
  display: flex;
  margin: 30px 0;
  text-align: center;
}

.nav__menu--justify-center {
  justify-content: center;
}

.nav__menu--vertical {
  flex-direction: column;
}

.nav__menu--horizontal {
  align-items: center;
}

.nav__item {
  width: 100%;
  box-sizing: border-box;
}

.nav__item-top {
  display: inline-block;
}

.nav__item--vertical {
  padding: 0.75rem;
}

.nav__item--right {
  margin-left: auto;
}

.nav__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $blue;
  h3,
  h4 {
    margin: 0;
  }
}

.nav__item--contact-method {
  width: 4rem;
}
