---
layout: blog
---

<article class="blog blog--post">
  <div class="blog__title--underline">
    <h1 class="text--centered">{{ page.title }}</h1>
    <h3 style="color: #bbbbbb" class="text--italic text--centered">
      {{ page.date | date: "%Y-%m-%d" }}
    </h3>
    {% if page.external_link %}
    <div class="text--centered text--small">
      <a
        rel="noopener noreferrer"
        target="__blank"
        class="blue_underline--hover blue_underline--small"
        href="{{ page.external_link }}"
        ><em>Originally published on the {{ page.external_link_title}}.</em></a
      >
    </div>
    {% endif %}
  </div>
  {{ content }}
  <div class="blog__scroll_to_top">
    <a class="blue_underline--hover" href="#top"
      ><i class="fas fa-arrow-to-top fa-2x"></i
    ></a>
  </div>
</article>
<script>
  const children = document.querySelectorAll(".blog--post h2");

  children.forEach((el) => {
    const id = el.getAttribute("id");

    if (id) {
      let link = document.createElement("a");
      link.classList.toggle("anchor--link");
      link.innerHTML = '<i class="fas fa-link"></i>';
      link.setAttribute("href", "#" + id);
      el.prepend(link);
    }
  });
</script>
